<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <div>
            <form action="/movies/delete/<%= movie.id %>?_method=DELETE" method="POST">
                <a class = "modificar" href="/movies/edit/<%= movie.id %>">Modificar</a>
                <button class = "borrar"  href="/movies/delete/<%= movie.id %>" type = "submit">Borrar</button>
                <a class = "listado" href="/movies">Listado de Películas</a>
            </form>
        </div>
    </section>

</body>
</html>